.container {
    height: 20%;
    width: 20%;
    margin: 0 auto;
}

.button {
    background-color: var(--tertiaryBlue);
    color: var(--gray92);
    border: var(--border);
    border-radius: 33px;
    height: 50px;
    width: 200px;
    /* CSS for the Text */
    font-size: var(--fontSizeXLarge);
    font-weight: var(--fontWeightBold);
}

.button:hover {
    cursor: pointer;
    background-color: var(--secondaryBlue);
}
.buttonContainer {
  display: flex;
  justify-content: center;
  width: auto;
  margin: 0 auto;
  max-width: 150px;
}

/* .button {
  background-color: var(--infoColor);
  color: var(--primary);
  padding: 10px;
  border-radius: 15px;
  width: 100%;
} */
