.navContainer {
    z-index: var(--zindexFixedNavbar);
    width: 100%;
    display: grid;
    place-content:space-between;
    grid-template-columns: auto auto;
    padding: 1em;
    align-items: center;
}

.absoluteNavbar {
    position: absolute;
}

.fixedNavbar {
    position: fixed;
    background-color: var(--tertiaryBlue);
}

.logo {
    font-size: var(--fontSizeXXLarge);
    color: var(--white);
    text-decoration: none;
    padding-left: 0.5em;
}

.logo img {
    width: 200px;
    height: auto;
}

.navList {
    display: flex;
    justify-content: space-between;
    width: 100%;
}

.navElem {
    font-weight: var(--fontWeightBold);
    font-family: 'Segoe UI', Tahoma, Geneva, Verdana, sans-serif;
    font-size: var(--fontSizeLarge);
    color: var(--navFooterColor);
    text-decoration: none;
    text-transform: uppercase;
    text-align: center;
    padding: 0.25pc 2.3pc 0.25pc 2.3pc;
}

.navElem:hover {
    box-shadow: 0 5px 10px rgba(197, 197, 197, 0.4);
}