.container {
    display: flex;
    justify-content: center;
    align-items: center;
}

.searchBar {
    display: flex;
    align-items: center;
}

.searchInput, .searchBtn {
    border: var(--border);
    height: 36px;
    padding: 8px;
}

.searchInput {
    border-radius: 33px 0 0 33px;
    width: 500px;
    font-size: 16px;
}

.searchBtn {
    border-radius: 0 33px 33px 0;
    background-color: var(--gray96);
    width: 50px;
}

.searchBtn:hover {
    cursor: pointer;
    background-color: var(--gray80);
}

.searchIcon {
    width: 20px;
}


.label-input {
    margin-left: var(--spacing);
    display: flex;
    align-items: center;
    justify-content: center;
    gap: var(--spacingQuarter);
    color: var(--gray30);

    border-radius: var(--borderRadius);
    font-size: var(--fontSizeLarge);
}

.label-input input {
    height: 100%;
    border: var(--border);
    height: 3.6rem;
    border-radius: var(--borderRadius);
}